/* Shawn Christopher */

:root{
	--light-gray: #eeeeee;
  	--med-gray: #555;
	--dark-gray: #222;
	--white: #fff;
	--black: #000;
	--cast-iron-gray: #353535;
	--creamy: #F3EFE0;
	--light-blue: #8DCBE6;
	--box-shadow: -5px 5px 5px var(--med-gray);
	--hover-shadow: -3px 3px 6px var(--med-gray);
	font-size: 16px;
}

html{
	background-color: var(--light-gray);
}

main {
	background-color: var(--cast-iron-gray);
	color: var(--white);
}

/* -- The site is meant to be a single page, fixed 1280px wide site. You may make it responsive to earn extra credit, but only if your JS is working correctly first. Focus on the functionality. -- */
body{
	width: 100%;
	max-width: 1280px;
	margin: 50px auto;
	color: var(--dark-gray);
	line-height: 1.35;
	font-family: Tahoma, Arial, sans-serif;
	box-sizing: border-box;
}

/* Hidden content for screen reader users - code from: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


/* ----- HEADER ----- */
header{
	padding: 1rem;
	margin: 0;
	background-color: var(--dark-gray);
	color: var(--white);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;	
}

h1 {
	grid-column: 1/2;

}

nav {
	grid-column: 2/3;
	text-decoration: none;
}

li {
	display: inline-block;
	text-decoration: none;
	padding: 25px;
}

li:hover {
	text-decoration: underline;
}
a, a:visited {
	text-decoration: none;
	color:var(--white);
	font-family: Tahoma, Arial, sans-serif;
}

header div {
	grid-column: 1/-1;	
	margin: auto;
	font-size: 1.25rem;
}
header p {
	margin: 0;
	padding: 0;
}

#bold {
	font-weight: 800;
}

.italic {
	font-style: italic;
	font-weight: 100;
	color: var(--light-gray);
}


/* ----- HEADINGS ----- */
h1, h2, h3 {
	text-align: left;
	font-weight: bold;
	
}

h1{
	font-size: 2rem;
	margin: 1rem;
}

h2{
	font-size: 1.50rem;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 2px;
	margin-bottom: 12px;
	padding-top: 10px;
}

h3{
	font-size: 1.35rem;
	margin-left: 58px;
	margin-right: 50px;
	margin-top: 12px;
	margin-bottom: 12px;
}

/* ----- IMAGES ----- */
img{
	display: block;
	margin: 0 auto;
}

/* ----- PARAGRAPHS ----- */
p{
	padding: 1rem 0;
	margin-left: 50px;
	margin-right: 50px;
}

#switcher, #game {
	color: var(--cast-iron-gray);
}

/* ----- BUTTONS/SUBMIT ----- */
button, input[type="submit"]{
	display: block;
	padding: 1rem;
	background-color: var(--dark-gray);
	color: var(--white);
	border: none;
	box-shadow: var(--box-shadow);
}

input[type="submit"]{
	width: 90%;
	margin: 0 auto;
}

/* ----- FORM CONTROLS ----- */
input, label{
	display: block;
	font-size: 1rem;
	font-family: sans-serif;
}

label{
	margin: 0.5rem 0 0.25rem 0;
}

input{
	padding: 0.5rem 0.25rem;
	margin: 0 auto 1rem auto;
	width: calc(100% - 1rem);
}

textarea {
	width: 100%;
}

/* ----- FOR ERROR MESSAGES AND INPUT STYLES IN FORMS ----- */
.message{
  display: none;
  color: var(--orange);
  font-size: 1.2em;
  margin: 0.25em 0;
  font-weight: bold;
}

.error{
  font-size: 1em;
  display: block;
}

.errorInput{
  border: 1px solid var(--orange);
}

/* ----- BACKGROUND COLORS/WIDTHS/PADDING ON INDIVIDUAL SECTIONS ----- */
#switcher, #game {
	background-color: var(--white);
	padding: 1rem;
	width: calc(100% - 2rem);
	max-width: 1280px;
}

/* ----- PRODUCT SWITCHER EXAMPLE 1 ----- */
/* ----- CLASSES FOR PRODUCT SWITCHER ----- */
#switcher .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcherButtons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	margin: 2rem auto;
}

#switcher img{
	grid-row: 1/-1;
}

#switcher h3{
	grid-column: 2/-1;
	align-self: end;
}

/* ----- GUESSING GAME ----- */
#game{
	margin-top: 2rem;	
	padding-bottom: 2rem;
	background-color: var(--creamy);
}

#game div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

#game h2{
	grid-column: 1/-1;
	text-align: center;
}

#game form{
	padding: 1rem;
}

#gameDisplay p{
	padding: 0.5rem;
}


/* ----- FOOTER ----- */
footer{
	padding: 1rem 0;
	text-align: center;
	background-color: var(--med-gray);
	color: var(--white);
	margin-top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
footer h2 {
	font-size: 1.35rem;
	font-weight: 600;
}

#footerLeft {
	grid-column: 1/2;
	text-align: left;
}

footer address {
	margin-left: 100px;
}

div #copy p {
	text-align: center;
}

#form  {
	grid-column: 2/3;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

/* ----- HOVER STYLES ----- */
@media (hover:hover){
	button:hover, input[type="submit"]:hover{
		box-shadow: var(--hover-shadow);
	}
}